<?php
/**
 * Local configuration file.
 */

// comment out the following two lines when deployed to production
defined('YII_DEBUG') or define('YII_DEBUG', {{yiiDebug}});
defined('YII_ENV') or define('YII_ENV', '{{yiiEnv}}');

// specify error reporting level
if (YII_DEBUG) {
    error_reporting(E_ALL);
    ini_set('display_errors', 'on');
} else {
    ini_set('display_errors', 'off');
}

if (empty($_SERVER['HTTP_HOST'])) {
    // Mock up HTTP params for the console application:
    $hostInfo = '{{hostInfo}}';
    $baseUrl = '{{baseUrl}}';
}

$developerIPs = [
    '127.0.0.1',
    '::1',
];

$config = [
    'components' => [
        // Uncomment following to use MemCache :
        /*'cache' => [
            'class' => yii\caching\MemCache::class,
            'servers' => [
                [
                    'host' => 'localhost',
                    'port' => 11211,
                    'weight' => 100,
                ],
            ],
        ],*/
        /*'mailer' => [
            'useFileTransport' => true,
        ],*/
        'db' => [
            'dsn' => 'mysql:host={{dbHost}};dbname={{dbName}}',
            //'dsn' => 'mysql:host={{dbHost}};dbname={{dbName}}' . (YII_ENV === 'test' ? '_test' : ''),
            'username' => '{{dbUser}}',
            'password' => '{{dbPassword}}',
        ],
        /*'assetManager' => [
            'linkAssets' => true,
            'converter' => [
                'forceConvert' => true,
            ],
        ],*/
    ],
];

if (YII_ENV === 'dev' && empty($_SERVER['argv'])) {
    // configuration adjustments for 'dev' environment
    $config['bootstrap'][] = 'debug';
    $config['modules']['debug'] = [
        'class' => yii\debug\Module::class,
        'allowedIPs' => $developerIPs
    ];

    $config['bootstrap'][] = 'gii';
    $config['modules']['gii'] = [
        'class' => yii\gii\Module::class,
        'generators' => [
            'adminMainFrame' => [
                'class' => yii2tech\admin\gii\mainframe\Generator::class
            ],
            'adminCrud' => [
                'class' => yii2tech\admin\gii\crud\Generator::class
            ],
        ],
        'allowedIPs' => $developerIPs
    ];
}

return $config;